extends ../layout

block content
  .body
    .container
      h2
        | 政府宣布修訂
        strong 《逃犯條例》
      .row
        .col-md-10
          p.lead
            | 2019年2月中旬，香港政府宣布修訂《逃犯條例》及《刑事事宜 相互法律協助條例》，修例的之要內容為將「中華人民共和國或其任何部分」納入「特别移交安排」以及「刑事互助條例」之內。港府宣稱是次修例之目的是為一宗台灣殺人案（陳同佳案）提供移交逃犯的法律基礎，以及堵塞存在20多年的法律「漏洞」。
          p.lead
            | 港府提出修例後各界均表示關於，認為修例過程過於倉猝，欠缺足夠公眾諮詢。法律界人士擔憂香港以及內地法制上的不同難以為被移交者提供適當的人權和程序保障。並由於移交範圍將包括在港工作的外國人，商界表示擔憂修例會影響香港國際金融地位。
          p.lead
            | 其後台灣方面堅決拒絕在修訂後的逃犯條例框架進行逃犯移交，認為此舉動有損台灣的國家主權，並呼籲港府以更務實方式處理陳同佳案。但港府會在修例完成後再與台灣商討有關事宜。
          p.center
            iframe(onload="resizeIframe(this, 0.5625)" src='https://www.youtube.com/embed/_QKbslR8Ch4' frameborder='0')
            br
            | 台灣陸委會稱，逃犯條例條例如矮化台灣主權，不會接受
          p.lead
            | 儘管反對聲音不斷，港府堅持修例刻不容緩，要在2019年6月立法會休會前完成立法工作。對於法律界的擔憂，以行政長官林鄭月娥為首之港府官員認為只是個別人士對相關條例欠缺理解，更不用對中國內地法治及人權狀況過於擔憂。
          p.lead
            | 修例過程在立法會的法案委員會中亦引起極大爭議。由於多名民主派議員在之前的「宣誓風波」中被剝奪議員資格，若然修例完成法案委員會之討論，將沒有足夠票數阻止法案通過。多名民主派議員在法案委員會中用各種方式阻撓會議進行，意圖阻止法案提交立法會二讀及三讀。
          p.center
            iframe(onload="resizeIframe(this, 0.5625)" src='https://www.youtube.com/embed/7jXefi6vR2g' frameborder='0')
            br
            | 林鄭月娥稱，逃犯條例刻意排除內地為「廢話」
          p.lead
            | 為解決修例膠着狀態，立法會前主席曾鈺成提出可繞過法案委員會直接提交大會恢復二讀。港府採納其建議，並由建制派議員在立法會內務委員中提出及通過繞過法案委員之做法。港府揚言會在6月12日的立法會會議中一天之內完成二讀及三讀法案。
          p.center
            iframe(onload="resizeIframe(this, 0.5625)" src='https://www.youtube.com/embed/dm894-8BheE' frameborder='0')
            br
            | 立法會內務委員表決通過，不反對《逃犯條例》恢復二讀
          p.lead
            | 由於港府在香港市民用盡一切方法表達訴求後仍漠視民意，最後引發一連串為保衛香港高度自治的民主自由行動。

      hr
    script(src='/vendor/porto/js/theme.js')
    script(src='/vendor/porto/js/custom.js')
    script(src='/vendor/porto/js/theme.init.js')
    script.
      function resizeIframe(obj, ratio) {
        width = window.innerWidth * 0.9
        obj.style.width =  width + 'px'
        obj.style.height = (width * ratio) + 'px'
      }
