doctype html
html.fixed
  head
    // Basic
    meta(charset='UTF-8')
    title 404 - Page Not Found
    block additional_meta_content 
    // Mobile Metas
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    // Vendor CSS
    link(rel='stylesheet', href='/vendor/porto/vendor/bootstrap/css/bootstrap.min.css')
    // Theme CSS
    link(rel='stylesheet', href='/vendor/porto/css/theme.css')
    // Skin CSS
    link(rel='stylesheet', href='/vendor/porto/css/skins/default.css')
  body
    // start: page
    .main
      section.page-not-found
        .row
          .col-sm-8
            .main-error.mb-xlg
              h2.error-code.text-dark.text-center.text-weight-semibold.m-none
                | 500 
                i.fa.fa-file
              p.error-explanation.text-center We're sorry, something went wrong.
          .col-sm-4
            h4.text Here are some useful links
            ul.nav.nav-list.primary
              li
                a(href='/')
                  i.fa.fa-caret-right.text-dark
                  |  Home
    // end: page