extends layout

block content
  .body
    include ./header.pug
    .main
      #gallerycat(data-locale=locale, data-cat=cat)
    script(src='/vendor/porto/js/theme.js')
    script(src='/vendor/porto/js/custom.js')
    script(src='/vendor/porto/js/theme.init.js')
    script(type="text/babel" src="/js/gallerycat.js")