header#header.header-narrow
  .header-body
    .header-container.container
      .header-row
        .header-column
          .header-logo
            a(href='/')
              img(alt='Porto' width='50' height='50' data-sticky-width='50' data-sticky-height='50' data-sticky-top='50' src='/img/logo.png')
        .header-column
          .header-row
            .header-nav
              button.btn.header-btn-collapse-nav(data-toggle='collapse' data-target='.header-nav-main')
                i.fa.fa-bars
              .header-nav-main.header-nav-main-effect-1.header-nav-main-sub-effect-1.collapse
                nav
                  ul#mainNav.nav.nav-pills
                    li
                      a(href="/") What I Can Do?
                    li
                      a(href="/") Humanity Support Hroups
                    li
                      a(href="/") Query
                    li.dropdown
                      a.dropdown-toggle(href="/zh-Hant/gallery") Gallery
                      ul.dropdown-menu
                        li.dropdown-submenu
                          a(href="/") 集會
                          ul.dropdown-menu
                            li
                              a(href="/zh-Hant/mapevent?event=818vpark") 818 維園集會
                        li.dropdown-submenu
                          a 遊行
                          ul.dropdown-menu
                            li
                              a(href="/zh-Hant/mapevent?event=428rally") 428 遊行
                            li
                              a(href="/zh-Hant/mapevent?event=811tst") 811 尖沙咀遊行
                        li.dropdown-submenu
                          a.dropdown-submenu(href="/") 罷工
                          ul.dropdown-menu
                            li
                              a(href="/zh-Hant/mapevent?event=805strike") 805 罷工
                        li.dropdown-submenu
                          a.dropdown-submenu(href="/") 不合作運動
                          ul.dropdown-menu
                            li
                              a(href="/zh-Hant/mapevent?event=812airport") 812 機場和你塞
                        li.dropdown-submenu
                          a.dropdown-submenu 記者會
                          ul.dropdown-menu
                            li
                              a(href="/zh-Hant/mapevent?cat=announce-lihkg") 民間記者會
                            li
                              a(href="/zh-Hant/mapevent?cat=announce-demo") 泛民記者會
                            li
                              a(href="/zh-Hant/mapevent?cat=announce-gov") 政府及建制記者會
                            li
                              a(href="/zh-Hant/mapevent?cat=announce-po") 警方記者會
                    li
                      a(href="/") Council Meeting Records
                    li
                      a(href="/") Useful Link
                    li.dropdown
                      a(style="background-color: #293339").dropdown-toggle En
                      ul.dropdown-menu
                        li
                          a(href="/localeredirect/zh-Hant") 繁中
                        li
                          a(href="/localeredirect/zh-Hans") 简中
                        li
                          a(href="/localeredirect/en") En