header#header.header-narrow
  .header-body
    .header-container.container
      .header-row
        .header-column
          .header-logo
            a(href='/')
              img(alt='Porto' width='50' height='50' data-sticky-width='50' data-sticky-height='50' data-sticky-top='50' src='/img/logo.png')
        .header-column
          .header-row
            .header-nav
              button.btn.header-btn-collapse-nav(data-toggle='collapse' data-target='.header-nav-main')
                i.fa.fa-bars
              .header-nav-main.header-nav-main-effect-1.header-nav-main-sub-effect-1.collapse
                nav
                  ul#mainNav.nav.nav-pills
                    li
                      .input-group
                        input#q.form-control(type='text' name='q' placeholder='搜尋 (待處理)...' required='')
                        span.input-group-btn
                          button.btn.btn-default(type='submit')
                            i.fa.fa-search
                    li
                      a(href="/") 我可以做什麼 (待處理)
                    li.dropdown
                      a(href="/zh-Hant/gallery").dropdown-toggle 資料庫
                      ul.dropdown-menu
                        li
                          a(href="/zh-Hant/mgallery") 主要事件
                        li
                          a(href="/zh-Hant/gallery") 全部事件
                        br
                        li
                          a(href="/zh-Hant/gallerycat") 全部分類
                        li
                          a(href="/zh-Hant/gallerycat?cat=motivate") 感動及振奮人心
                        li.dropdown-submenu
                          a.dropdown-submenu 警暴
                          ul.dropdown-menu
                            li
                              a(href="/zh-Hant/gallerycat?cat=poabuse") 警察濫權
                            li
                              a(href="/zh-Hant/gallerycat?cat=poviolent") 警察濫用武力
                            li
                              a(href="/zh-Hant/gallerycat?cat=pounlawful") 警察涉嫌違法
                            li
                              a(href="/zh-Hant/gallerycat?cat=overarrest") 濫捕市民
                            li
                              a(href="/zh-Hant/gallerycat?cat=potriad") 警黑合作
                            li
                              a(href="/zh-Hant/gallerycat?cat=attackpress") 攻擊傳媒
                        li.dropdown-submenu
                          a.dropdown-submenu 抗爭運動
                          ul.dropdown-menu
                            li
                              a(href="/zh-Hant/gallerycat?cat=rally") 遊行
                            li
                              a(href="/zh-Hant/gallerycat?cat=assembly") 集會
                            li
                              a(href="/zh-Hant/gallerycat?cat=strike") 罷工
                            li
                              a(href="/zh-Hant/gallerycat?cat=movement") 其他抗爭手法
                        li.dropdown-submenu
                          a.dropdown-submenu 記者會
                          ul.dropdown-menu
                            li
                              a(href="/zh-Hant/gallerycat?cat=announce-lihkg") 民間記者會
                            li
                              a(href="/zh-Hant/gallerycat?cat=announce-demo") 泛民記者會
                            li
                              a(href="/zh-Hant/gallerycat?cat=announce-gov") 政府及建制記者會
                            li
                              a(href="/zh-Hant/gallerycat?cat=announce-po") 警方記者會
                        li
                          a(href="/zh-Hant/gallerycat?cat=editorial") 社評
                        li
                          a(href="/zh-Hant/gallerycat?cat=posupport") 撐警謬論
                    li
                      a(href="/") 議會會議紀錄 (待處理)
                    li.dropdown
                      a(href="/").dropdown-toggle 人道支援機構
                      ul.dropdown-menu
                        li
                          a(href="https://www.facebook.com/612Fund/" target="_blank") 612人道支援基金
                        li
                          a(href="https://www.facebook.com/sparkalliancehk/" target="_blank") 星火同盟 抗爭支援
                    li.dropdown
                      a(href="/").dropdown-toggle 連結
                      ul.dropdown-menu
                        li
                          a(href="https://hkontheroad.org/" target="_blank") 香港反修例運動時序記錄
                        li
                          a(href="https://ggisnotworking.github.io/ornot/" target="_blank") 自由篩
                        li
                          a(href="https://hkrev.info/" target="_blank") HK DEMOCRATIC MOVEMENT 2019
                        li
                          a(href="https://www.tiki-toki.com/timeline/entry/1273579/Hong-Kong-Timeline/" target="_blank") Hong Kong Timeline
                        li
                          a(href="https://standwithhk.org/" target="_blank") Fight for Freedom. Stand with Hong Kong.
                        li
                          a(href="http://www.hkdreamers.com/" target="_blank") HK DREAMERS
                        li
                          a(href="https://recordhk.info/zh-ht/" target="_blank") 2019 反送中示威時序表
                    li.dropdown
                      a(style="background-color: #293339").dropdown-toggle 繁中
                      ul.dropdown-menu
                        li
                          a(href="/localeredirect/zh-Hant") 繁中
                        li
                          a(href="/localeredirect/zh-Hans") 简中
                        li
                          a(href="/localeredirect/en") En