header#header.header-narrow
  .header-body
    .header-container.container
      .header-row
        .header-column
          .header-logo
            a(href='/')
              img(alt='Porto' width='50' height='50' data-sticky-width='50' data-sticky-height='50' data-sticky-top='50' src='/img/logo.png')
        .header-column
          .header-row
            .header-nav
              button.btn.header-btn-collapse-nav(data-toggle='collapse' data-target='.header-nav-main')
                i.fa.fa-bars
              .header-nav-main.header-nav-main-effect-1.header-nav-main-sub-effect-1.collapse
                nav
                  ul#mainNav.nav.nav-pills
                    li
                      .input-group
                        input#q.form-control(type='text' name='q' placeholder='Search (processing)...' required='')
                        span.input-group-btn
                          button.btn.btn-default(type='submit')
                            i.fa.fa-search
                    li
                      a(href="/") What I Can Do?
                    li.dropdown
                      a(href="/en/gallery").dropdown-toggle Gallery
                      ul.dropdown-menu
                        li
                          a(href="/en/mgallery") Major Events
                        li
                          a(href="/en/gallery") All Events
                        br
                        li
                          a(href="/en/gallerycat") All Category
                        li
                          a(href="/en/gallerycat?cat=motivate") Motivated
                        li.dropdown-submenu
                          a.dropdown-submenu Police Misconduct
                          ul.dropdown-menu
                            li
                              a(href="/en/gallerycat?cat=poabuse") Abuse of Power
                            li
                              a(href="/en/gallerycat?cat=poviolent") Police Violence
                            li
                              a(href="/en/gallerycat?cat=pounlawful") Unlawful
                            li
                              a(href="/en/gallerycat?cat=overarrest") Overarrest
                            li
                              a(href="/en/gallerycat?cat=potriad") Triad
                            li
                              a(href="/en/gallerycat?cat=attackpress") Attack Press
                        li.dropdown-submenu
                          a.dropdown-submenu Movement
                          ul.dropdown-menu
                            li
                              a(href="/en/gallerycat?cat=rally") Rally
                            li
                              a(href="/en/gallerycat?cat=assembly") Aseembly
                            li
                              a(href="/en/gallerycat?cat=strike") Strike
                            li
                              a(href="/en/gallerycat?cat=movement") Others
                        li.dropdown-submenu
                          a.dropdown-submenu Press Conference
                          ul.dropdown-menu
                            li
                              a(href="/en/gallerycat?cat=announce-lihkg") Press Conference of the People
                            li
                              a(href="/en/gallerycat?cat=announce-demo") Pro Democracy
                            li
                              a(href="/en/gallerycat?cat=announce-gov") Government and Pro-establishment
                            li
                              a(href="/en/gallerycat?cat=announce-po") Police Press Conference
                        li
                          a(href="/en/gallerycat?cat=editorial") Editorial
                        li
                          a(href="/en/gallerycat?cat=posupport") Police Supporter
                    li
                      a(href="/") Council Meeting Records
                    li.dropdown
                      a(href="/").dropdown-toggle Humanitarian Support Group
                      ul.dropdown-menu
                        li
                          a(href="https://www.facebook.com/612Fund/" target="_blank") 612 Humanitarian Relief Fund
                        li
                          a(href="https://www.facebook.com/sparkalliancehk/" target="_blank") Spark Alliance
                    li.dropdown
                      a(href="/").dropdown-toggle Links
                      ul.dropdown-menu
                        li
                          a(href="https://hkontheroad.org/" target="_blank") 香港反修例運動時序記錄
                        li
                          a(href="https://ggisnotworking.github.io/ornot/" target="_blank") 自由篩
                        li
                          a(href="https://hkrev.info/" target="_blank") HK DEMOCRATIC MOVEMENT 2019
                        li
                          a(href="https://www.tiki-toki.com/timeline/entry/1273579/Hong-Kong-Timeline/" target="_blank") Hong Kong Timeline
                        li
                          a(href="https://standwithhk.org/" target="_blank") Fight for Freedom. Stand with Hong Kong.
                        li
                          a(href="http://www.hkdreamers.com/" target="_blank") HK DREAMERS
                        li
                          a(href="https://recordhk.info/zh-ht/" target="_blank") 2019 反送中示威時序表
                    li.dropdown
                      a(style="background-color: #293339").dropdown-toggle En
                      ul.dropdown-menu
                        li
                          a(href="/localeredirect/zh-Hant") 繁中
                        li
                          a(href="/localeredirect/zh-Hans") 简中
                        li
                          a(href="/localeredirect/en") En