doctype html
html.dark
  head
    // Basic
    meta(charset='UTF-8')
    title Hong Kong 5 Demands

    // Mobile Metas
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    
    // Web Fonts
    link(href='/vendor/googleapis/fonts.css', rel='stylesheet', type='text/css')

    // Vendor CSS
    link(rel='stylesheet', href='/vendor/porto/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/porto/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/porto/vendor/animate/animate.min.css')
    link(rel='stylesheet', href='/vendor/porto/vendor/simple-line-icons/css/simple-line-icons.min.css')
    link(rel='stylesheet', href='/vendor/porto/vendor/owl.carousel/assets/owl.carousel.min.css')
    link(rel='stylesheet', href='/vendor/porto/vendor/owl.carousel/assets/owl.theme.default.min.css')
    link(rel='stylesheet', href='/vendor/porto/vendor/magnific-popup/magnific-popup.min.css')

    // Theme CSS
    link(rel='stylesheet', href='/vendor/porto/css/theme.css')
    link(rel='stylesheet', href='/vendor/porto/css/theme-elements.css')
    link(rel='stylesheet', href='/vendor/porto/css/theme-blog.css')
    link(rel='stylesheet', href='/vendor/porto/css/theme-shop.css')

    // Skin CSS
    link(rel='stylesheet', href='/vendor/porto/css/skins/default.css')

    // Theme Custom CSS
    link(rel='stylesheet' href='/vendor/porto/css/custom.css')
    link(rel='stylesheet' href='/css/custom.css')

    // Head Libs
    script(src='/vendor/porto/vendor/modernizr/modernizr.min.js')

    // Vendor
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/porto/vendor/jquery.appear/jquery.appear.min.js')
    script(src='/vendor/porto/vendor/jquery.easing/jquery.easing.min.js')
    script(src='/vendor/porto/vendor/jquery-cookie/jquery-cookie.min.js')
    script(src='/vendor/porto/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/vendor/porto/vendor/common/common.min.js')
    script(src='/vendor/porto/vendor/jquery.validation/jquery.validation.min.js')
    script(src='/vendor/porto/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js')
    script(src='/vendor/porto/vendor/jquery.gmap/jquery.gmap.min.js')
    script(src='/vendor/porto/vendor/jquery.lazyload/jquery.lazyload.min.js')
    script(src='/vendor/porto/vendor/isotope/jquery.isotope.min.js')
    script(src='/vendor/porto/vendor/owl.carousel/owl.carousel.min.js')
    script(src='/vendor/porto/vendor/magnific-popup/jquery.magnific-popup.min.js')
    script(src='/vendor/porto/vendor/vide/vide.min.js')

    script(type="text/javascript" src='/vendor/jquery-ui/jquery-ui.min.js')
    script(type='text/javascript', src='/vendor/jquery/jquery.blockUI.js')

    script(src='/babel/browser.min.js')
    script(src='/react/react.min.js')
    script(src='/react/react-dom.min.js')
    script(src='/react-bootstrap/react-bootstrap.js')

    script(src="/leaflet/dist/leaflet.js")
    link(rel='stylesheet', href='/leaflet/dist/leaflet.css')
    script(src="/vendor/react-leaflet/react-leaflet.min.js")

    script(src="/vendor/swiper/swiper.js")
    link(rel='stylesheet', href='/vendor/swiper/swiper.css')

    script(src="/moment/moment.js")

    script(type='text/babel' src='/js/application-react.js')

  body
    block content
